<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Solver</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/index.js" async></script>
</head>
<body>
    <main>
        <h1>Worlde Solver</h1>
        <form method="get">
        <div class="row">
            <div class="container">
                <input id="green0" class="green" type="text"/>
            </div>
            <div class="container">
                <input id="green1" class="green" type="text"/>
            </div>
            <div class="container">
                <input id="green2" class="green" type="text"/>
            </div>
            <div class="container">
                <input id="green3" class="green" type="text"/>
            </div>
            <div class="container">
                <input id="green4" class="green" type="text"/>
            </div>
          
        </div>
        <div class="row">
            <div class="container">
                <input id="yellow0" class="yellow" type="text"/>
            </div>
            <div class="container">
                <input id="yellow1" class="yellow" type="text"/>
            </div>
            <div class="container">
                <input id="yellow2" class="yellow" type="text"/>
            </div>
            <div class="container">
                <input id="yellow3" class="yellow" type="text"/>
            </div>
            <div class="container">
                <input id="yellow4" class="yellow" type="text"/>
            </div>
          
        </div>
        <div class="row container">
            <input type="text" name="grey" id="grey" class="grey"> 
        </div>
        <div class="button-container">
            <button id="solveBtn" class="solve-btn" type="submit">Solve</button>
        </div>
    </form>
    </main>
    
</body>
</html>