<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Solver</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <main>
        <h1>Worlde Solver</h1>
        <form method="get">
        <div class="row">
            <div class="container">
                <input class="green" type="text"/>
            </div>
            <div class="container">
                <input class="green" type="text"/>
            </div>
            <div class="container">
                <input class="green" type="text"/>
            </div>
            <div class="container">
                <input class="green" type="text"/>
            </div>
            <div class="container">
                <input class="green" type="text"/>
            </div>
          
        </div>
        <div class="row">
            <div class="container">
                <input class="yellow" type="text"/>
            </div>
            <div class="container">
                <input class="yellow" type="text"/>
            </div>
            <div class="container">
                <input class="yellow" type="text"/>
            </div>
            <div class="container">
                <input class="yellow" type="text"/>
            </div>
            <div class="container">
                <input class="yellow" type="text"/>
            </div>
          
        </div>
        <div class="button-container">
            <button class="solve-btn" type="submit">Solve</button>
        </div>
    </form>
    </main>
    
</body>
</html>